{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <p class="event-headline">{% trans "Sign In" %}</p>
            <p class="text-main text-center">{% blocktrans %}Welcome to Tomodachi! If you have not
                created an account yet, and want to start creating, sharing and attending Events, please
                <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            <!-- Login Form styled with crispyforms -->
            <form class="text-main" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <p>* Required</p>
                <div class="text-center">
                    <button class="btn btn-signup" type="submit">{% trans "Sign In" %}</button>  
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}