{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <p class="page-headline">{% trans "Sign Up" %}</p>

            <p class="text-main text-center">{% blocktrans %}Welcome to Tomodachi! Do you already
                have an account?<br>
                Then please <a class="link" href="{{ login_url }}">sign in</a> 
                instead.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <!-- Signup Form styled with crispyforms -->
            <form class="text-main" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <p>* Required</p>
                <div class="text-center">
                    <button class="btn btn-confirm" type="submit">{% trans "Sign Up" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}