body {
    background-color: #f1faee;
    color: #1d3557;
    font-family: 'Aleo', serif;
    font-size: 1.2rem;
}

/* Remove all text decoration from links */

a {
    text-decoration: none;
}

/* Removing Padding and Margin from Bootstrap classes */

.container-fluid, .container {
    padding: 0;
}

.row {
    margin: 0;
}

.carousel {
    padding: 0;
}

/* Navbar */

.navbar {
    background-color: #a8dadc;
    margin: 0px;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 900;
}

.nav-item {
    margin: 0px 5px;
}

.nav-link {
    color: #1d3557 !important;
}

.nav-link.active {
    color: #9F141F !important;
}

.nav-link:hover {
    color: #9F141F !important;
}

.user-display {
    display: block;
    padding: 0.5rem 0;
}

/* Headlines */

.brand {
    font-family: 'Arimo', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1d3557;
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
}

.index-headline {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2.2rem;
    margin-top: 35px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
}

.aboutsite-subheadline {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

.page-headline {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 1.7rem;
    margin-top: 20px;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}

.event-detail-title {
    font-family: 'Arimo', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: 900;
    font-style: normal;
    font-weight: bold;
}

/* Index Page section About */

.aboutsite {
    margin-bottom: 10px;
    padding: 20px 40px 0px;
}

.aboutsite img {
    margin-bottom: 20px;
}

/* Main Font */

.text-main {
    font-weight: bold;
    font-style: italic;
    color: #1d3557;
    font-family: 'Aleo', serif;
    font-size: 1.2rem;
}

/* Cards for displaying Events */

.card {
    border: 1px solid #1d3557;
    margin: 0px;
    background-color: transparent;
}

.card-title,
.card-text {
    font-weight: bold;
    font-family: 'Aleo', serif;
    font-size: 1.7rem;
    margin-top: 10px;
}

.card-text {
    font-style: italic;
    font-size: 1.2rem;
}

/* Classes for Categories */

.category,
.category-detail {
    color: #f1faee;
    margin: 4px 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 2px;
    font-style: normal;
}

.category-detail {
    margin: 12px 0;
    font-size: 1.5rem;
}

.dining {
    background-color: #3f1a0e;
}

.camping {
    background-color: #036b09;
}

.gaming {
    background-color: #000a97;
}

.cinema {
    background-color: #9b0303;
}

.sports {
    background-color: #850073;
}

/* Browse Event Form */

.category-form {
    margin-left: 25px;
}

fieldset {
    border: 2px solid #1d3557;
    padding: 10px;
    border-radius: 15px;
}

/* Links */

.link {
    color: #9F141F;
    font-weight: bold;
}

.link:hover,
.link:active {
    color: #9F141F;
    text-decoration: underline;
}

/* Carousel and Overlay */

.carousel-caption {
    top: 70%;                       
    transform: translateY(-50%);
}

.carousel-caption {
    bottom: initial;
}

.overlay-headline {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
    color: #f1faee;
    background-color: rgba(29, 53, 87, .7);
    border-radius: 15px;
    padding: 10px;
}


/* Buttons */

.btn-confirm,
.btn-big {
    background-color: #457B9D;
    color: #fff;
    border: 1px solid #1d3557;
    font-weight: bold;
    margin: 10px auto 0;
}

.btn-reset {
    background-color: #1d3557;
    color: #fff;
    border: 1px solid #1d3557;
    font-weight: bold;
    margin: 10px auto 0;
}

.btn-big {
    font-size: 2rem;
    margin: 0 auto 40px;
}

.btn-confirm:hover,
.btn-big:hover,
.btn-confirm:active,
.btn-big:active {
    background-color: #fff;
    color: #457B9D;
    text-decoration: none ;
}

.btn-reset:hover,
.btn-reset:active {
    background-color: #fff;
    color: #1d3557;
}

/* Messages */

.notification {
    z-index: 10;
    position: absolute;
    margin-top: 80px;
}

/* Footer */

.footer {
    font-size: 1.5rem;
    background-color: #1d3557;
    color: #f1faee;
}

.footer a {
    color: #f1faee;
}

.footer a:hover {
    color: #f1faee;
}