{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% load static %}

<!-- User needs to be Authenticated to Browse Events -->
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-1 offset-md-2">
            <p class="event-headline">Browse Events</p>
            <div class="text-main">
                <!-- Load Eventform from forms.py with crispyforms -->
                {% crispy browse_form %}
                {% csrf_token %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for event in event_list %}
                <div class="col-md-6 col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- Display Category with color coded background -->
                            <p class="category text-center {{ event.category_verbose }}">
                                {{ event.category_verbose }}
                                
                                <!-- Show Calendar sign if you created the Event, same as in Navbar -->
                                {% if event.author == request.user %}
                                <i class="fa-solid fa-calendar-days"></i>
                                <!-- Show Checkmark sign if you joined the Event -->
                                {% elif request.user in event.attendees.all %}
                                <i class="fa-solid fa-check"></i>
                                {% endif %}
                            </p>
                            
                            <!-- Display basic quick event infos for overview -->
                            <p class="card-title">{{ event.title }}</p>
                            <p class="card-text">{{ event.location_time}}
                                <br>
                                Attendees: {{ event.number_of_attendees }}
                            </p>
                        </div>
                        
                        <!-- Display buttons for opening detail view, modify event or event deletion -->
                        <p class="text-center">
                            <a href="{% url 'event_detail' event.id %}" class="post-link" target="_blank">
                                <span class="btn btn-signup">View Details</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- Limit to 4 Events side by side, then next row -->
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                
                <!-- Display text if viewer has no created events that start now or in the future -->
                {% empty %}
                <p class="text-center text-main">No Events meet your current search criteria.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- If User is not authenticated, display message to signup/register and then redirect to home -->
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p class="text-main">You need to be logged in to create Events. Please 
                <a class="link" href="{{ login_url }}">log in</a> or 
                <a class="link" href="{{ signup_url }}">sign up</a> first.<br>
                You will be redirected to the Index Page in a few seconds.</p>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
       window.location.href = "{% url 'home' %}";
    }, 8000);
</script>
{% endif %}
{% endblock content %}