{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
{% load static %}

<!-- User needs to be Authenticated to Create Events -->
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-1 offset-md-2">
            <p class="event-headline"">Create Event</p>

            <!-- Load Eventform from forms.py with crispyforms -->
            <form method="POST">
                {{ event_form | crispy }}
                {% csrf_token %}
                <p>Events need to be created at least 12 hours before they are taking place.</p>
                <input id="create-button" class="btn btn-signup" type="submit" value="Create Event">
                <button id="reset-button" class="btn btn-reset" type="reset">Reset</button>
            </form>
            <br>
        </div>
    </div>
</div>

<!-- Load Script to update the min time for the Event starttime to now + 12 hours -->
<script src="{% static 'js/formupdate.js' %}"></script>

<!-- If User is not authenticated, display message to signup/register and then redirect to home -->
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>You need to be logged in to create Events. Please 
                <a class="link" href="{{ login_url }}">log in</a> or 
                <a class="link" href="{{ signup_url }}">sign up</a> first.<br>
                You will be redirected to the Index Page in a few seconds.</p>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
       window.location.href = "{% url 'home' %}";
    }, 8000);
 </script>
{% endif %}

{% endblock content %}