{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% load static %}

<!-- User needs to be Authenticated to Modify Events -->
{% if user.is_authenticated and event.author == request.user %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-1 offset-md-2">
            <p class="page-headline">Modify Event</p>
            <div class="text-main">
                <!-- Load Eventform from forms.py with crispyforms -->
                <form method="POST">
                    {{ event_form | crispy }}
                    {% csrf_token %}
                    <p>* Required</p>
                    <p>If you make any modifications, the Event start time needs to be at least 12 hours in the future.</p>
                    <div class="text-center">
                        <input id="create-button" class="btn btn-confirm" type="submit" value="Update Event">
                        <button id="reset-button" class="btn btn-reset" type="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>

<!-- Load Script to update the min time for the Event starttime to now + 12 hours -->
<script src="{% static 'js/formupdate.js' %}"></script>

<!-- If User is not authenticated, display message to signup/register and then redirect to home -->
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p class="text-main">You need to be logged in to modify Events. You also need to
                be the Event creator or you cannot modify it. Please 
                <a class="link" href="{{ login_url }}">log in</a> or 
                <a class="link" href="{{ signup_url }}">sign up</a> first.<br>
                You will be redirected to the Index Page in a few seconds.
            </p>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
       window.location.href = "{% url 'home' %}";
    }, 8000);
</script>
{% endif %}
{% endblock content %}