{% extends 'base.html' %} {% block content %}

<!-- User needs to be Authenticated to see Event details -->
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p class="event-headline">Event Details</p>
            <div class="text-main">
                <p class="category-detail text-center {{ event.category_verbose }}">{{ event.category_verbose }}</p>
                <!-- Event title -->
                <p class="event-detail-title text-center">{{ event.title }}</p>
                <!-- Event author goes before the | the event's creation date goes after -->
                <p>created by {{ event.author }} on {{ event.created_on }}</p>
                <p>Last modified on: {{ event.modified_on }}</p>
                <!-- Summary of the Event is displayed here -->
                <hr>
                <p>{{ event.summary | safe }}</p>
                <hr>
                
                <!-- Location and time of the Event is displayed here -->
                {% if event.location_online %}
                <p>Online Event: Yes</p>
                {% else %}
                <p>Online Event: No</p>
                {% endif %}
                     
                <p>Location: {{ event.location_area }}</p>
                <p>Event starts at: {{ event.location_time }}</p>
                        
                <!-- The number of Attendees is displayed here -->
                <p>Current number of Attendees: {{ event.number_of_attendees }}</p>
            </div>
            
            
            <!-- Buttons -->
            <p class="text-center">
                <!-- If the author is viewing the Event, offer Modify and Delete Button -->
                {% if request.user == event.author %}
                <a href="{% url 'edit_event' event.id %}" class="post-link">
                    <span class="btn btn-edit">Modify Event</span>
                </a>
                <button type="button" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Delete Event
                </button>
                
                <!-- If someone that has not yet joined the Event is viewing, offer Join Event Button -->
                {% elif request.user not in event.attendees.all and not request.user == event.author %}
                <a href="{% url 'join_event' event.id %}" class="post-link">
                    <span class="btn btn-edit">Join Event</span>
                </a>
                {% elif request.user in event.attendees.all and not request.user == event.author %}
                <a href="{% url 'leave_event' event.id %}" class="post-link">
                    <span class="btn btn-edit">Leave Event</span>
                </a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

<!-- Delete confirmation Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Delete confirmation</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-main">
                Do you really want to delete the Event "{{ event.title }}"?
                This action can not be reversed.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-signup" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-signup" onclick="location.href='{% url 'delete_event' event.id %}'">
                    Delete Event
                  </button>
            </div>
        </div>
    </div>
</div>

<!-- If User is not authenticated, display message to signup/register and then redirect to home -->
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-main">
            <p>You need to be logged in to view details. Please 
                <a class="link" href="{{ login_url }}">log in</a> or 
                <a class="link" href="{{ signup_url }}">sign up</a> first.<br>
                You will be redirected to the Index Page in a few seconds.
            </p>
        </div>
    </div>
</div>

<script>
    setTimeout(function(){
       window.location.href = "{% url 'home' %}";
    }, 8000);
</script>
{% endif %}
{% endblock content %}