{% extends 'base.html' %} {% block content %}

<!-- User needs to be Authenticated to see My Events -->
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mt-3 offset-md-1">
            <p class="event-headline">My Created Events</p>
            <p class="text-center text-main">Only Events that haven't started yet are shown.</p>
            <!-- Created Events Column -->
            <div class="row">
                {% for event in created_events %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Display Category with color coded background -->
                            <p class="category text-center {{ event.category_verbose }}">
                                {{ event.category_verbose }}
                                
                                <!-- Show Calendar sign if you created the Event, same as in Navbar -->
                                {% if event.author == request.user %}
                                <i class="fa-solid fa-calendar-days"></i>
                                <!-- Show Checkmark sign if you joined the Event -->
                                {% elif request.user in event.attendees.all %}
                                <i class="fa-solid fa-check"></i>
                                {% endif %}
                            </p>
                            
                            <!-- Display basic quick event infos for overview -->
                            <p class="card-title">{{ event.title }}</p>
                            <p class="card-text">{{ event.location_time}}
                                <br>
                                Attendees: {{ event.number_of_attendees }}
                            </p>
                        </div>
                        
                        <!-- Display buttons for opening detail view, modify event or event deletion -->
                        <p class="text-center">
                            <a href="{% url 'event_detail' event.id %}" class="post-link" target="_blank">
                                <span class="btn btn-signup">View Details</span>
                            </a>
                            <a href="{% url 'edit_event' event.id %}" class="post-link">
                                <span class="btn btn-signup">Modify Event</span>
                            </a>
                            <button type="button" class="btn btn-signup" data-bs-toggle="modal" data-bs-target="#staticBackdrop_{{ event.id }}">
                                Delete Event
                            </button>
                        </p>
                    </div>
                </div>
                
                <!-- Delete confirmation Modal -->
                <div class="modal fade" id="staticBackdrop_{{ event.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"><strong>Delete confirmation</strong></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-main">
                                Do you really want to delete the Event "{{ event.title }}"?
                                This action can not be reversed.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-signup" data-bs-dismiss="modal">Cancel</button>
                                <button class="btn btn-signup" onclick="location.href='{% url 'delete_event' event.id %}';">
                                    Delete Event
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Limit to 2 Events side by side, then next row -->
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                
                <!-- Display text if viewer has no created events that start now or in the future -->
                {% empty %}
                <p class="text-center text-main">You currently have no created Events.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 mt-3 offset-md-1">
            <p class="event-headline">My Joined Events</p>
            <p class="text-center text-main">Only Events that haven't started yet are shown.
                You cannot leave an Event you have created. Please delete it instead.</p>
            <!-- Joined Events Column -->
            <div class="row">
                {% for event in joined_events %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Display Category with color coded background -->
                            <p class="category text-center {{ event.category_verbose }}">
                                {{ event.category_verbose }}
                                
                                <!-- Show Calendar sign if you created the Event, same as in Navbar -->
                                {% if event.author == request.user %}
                                <i class="fa-solid fa-calendar-days"></i>
                                <!-- Show Checkmark sign if you joined the Event -->
                                {% elif request.user in event.attendees.all %}
                                <i class="fa-solid fa-check"></i>
                                {% endif %}
                            </p>
                            
                            <!-- Display basic quick event infos for overview -->
                            <h2 class="card-title">{{ event.title }}</h2>
                            <p class="card-text">{{ event.location_time}}
                                <br>
                                Attendees: {{ event.number_of_attendees }}
                            </p>
                        </div>
                        
                        <!-- Display buttons for opening detail view -->
                        <p class="text-center">
                            <a href="{% url 'event_detail' event.id %}" class="post-link">
                                <span class="btn btn-signup">View Details</span>
                            </a>
                            
                            <!-- Display buttons for leaving an event if you are not the author of it -->
                            {% if not request.user == event.author %}
                            <a href="{% url 'leave_event' event.id %}" class="post-link">
                                <span class="btn btn-signup">Leave Event</span>
                            </a>
                            {% endif %}  
                        </p>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                
                <!-- Display text if viewer has no joined events that start now or in the future -->
                {% empty %}
                <p class="text-center text-main">You currently have no joined Events.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- If User is not authenticated, display message to signup/register and then redirect to home -->
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p class="text-main">You need to be logged in to view your Events. Please 
                <a class="link" href="{{ login_url }}">log in</a> or 
                <a class="link" href="{{ signup_url }}">sign up</a> first.<br>
                You will be redirected to the Index Page in a few seconds.
            </p>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
       window.location.href = "{% url 'home' %}";
    }, 8000);
</script>
{% endif %}
{% endblock content %}